# IDEs
.vscode/
.idea/
*.swp
*.swo

# Node
node_modules/
dist/
build/
.env

# Java
target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.mv.db
*.trace.db
